<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (prods) { %>
                    <div class="grid">
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title">
                                    <%= prods.title %>
                                </h1>
                            </header>
                            <div class="card__image">
                                <img src="<%= prods.imageURL %>" alt="<%= prods.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">Rs
                                    <%= prods.price %>
                                </h2>
                                <p class="product__description">
                                    <%= prods.description %>
                                </p>
                            </div>
                            <div class="card__actions">
                                <!-- <a href="/products/<%= prods.id%>" class="btn">Details</a> -->
                                <form action="/add-to-cart" method="POST">
                                    <button class="btn" type="submit">Add to cart</button>
                                    <input type="hidden" name="productID" value="<%= prods._id%>">
                                </form>
                            </div>
                        </article>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs')%>